.box {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;
    gap: 16px;
}

.eevee{
    padding: 12px;
    border: 2px dashed rgb(129, 109, 42);
}

.vulpix{
    padding: 16px;
    border: 2px dashed rgb(216, 160, 107);
}

.jigglypuff{
    padding: 16px;
    border: 2px dashed rgb(255, 193, 224);
}